@import url("https://saltssaumure.github.io/w9x-discord-theme/w9x.min.css");

/* See https://github.com/Saltssaumure/w9x-discord-theme#customisation for customisation settings. */
:root {
    --w9x-background-image: none;
    --w9x-background-color: #008080;
    --w9x-start-text:       "Windows95";

    --w9x-titlebar-color:   #272829;
    --w9x-warning-color:    #2c2c30;
    --w9x-positive-color:   #272829;
    --w9x-highlight-color:  #2c2c30;

    --w9x-box-color-1:      #454545;
    --w9x-box-color-2:      #4a4949;
    --w9x-box-color-3:      #474747;
    --w9x-box-color-4:      #1f1f1f;
    --w9x-box-color-5:      #1f1f1f;
}

.theme-light {
    --w9x-bg-color:     #FFFFFF;
    --w9x-text-color:   #000000;
}

.theme-dark {
    --w9x-bg-color:     #000000;
    --w9x-text-color:   #DFDFDF;
}
